@layer props, normalize, buttons;

@import "https://unpkg.com/open-props" layer(props);
@import "https://unpkg.com/open-props/normalize.min.css" layer(normalize);
@import "https://unpkg.com/open-props/buttons.min.css" layer(buttons);

:root {
	--font-family: system-ui, sans-serif;
	--font-family-headings: quicksand;

	--brand-color: #5f4a9e;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: var(--font-family);
}

main {
	flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-headings);
	font-weight: var(--font-weight-4);
}

.dyb-hero {
	background-color: rebeccapurple;
	width: 100%;
	min-height: var(--size-14);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	div {
		background-color: var(--surface-1);
		padding: var(--size-4);
		max-width: var(--size-14);
	}
}

.button-link {
	display: inline-block;
	padding: var(--size-3);
	background-color: var(--surface-4);
	color: var(--text-1);
	text-decoration: none;

	&:hover {
		color: var(--text-2);
		background-color: var(--surface-3);
	}
}
