@layer props, normalize, buttons;

@import "https://unpkg.com/open-props" layer(props);
@import "https://unpkg.com/open-props/normalize.min.css" layer(normalize);
@import "https://unpkg.com/open-props/buttons.min.css" layer(buttons);

:root {
	--font-family: system-ui, sans-serif;
	--font-family-headings: quicksand;

	--background-color: #fff;
	--text-color: #333;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-headings);
	font-weight: var(--font-weight-4);
}

main {
	max-width: 60rem;
}

.header-emoji {
	font-size: var(--font-size-6);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--size-2);
	box-shadow: var(--shadow-3);
	background-color: white;

	nav {
		ul {
			display: flex;
			justify-content: space-between;
			gap: var(--size-2);
			li {
				display: inline-block;
				list: none;
				padding: var(--size-2);
			}
		}
	}
}
